<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  <meta charset="utf-8">
  <title>donut-tychoon</title>
</head>

<body>
  <h1>All the donuts!</h1>
  <a href="/donuts/new">Create a donut!</a> or check out <a href="/shops">donut shops</a>
  <ul>
    <% donuts.forEach( (donuts) => {  %>
      <li>
        <b><%= donuts.name %></b>
        <i><%= donuts.topping %></i>
        <i><%= donuts.price %></i>
        <a href="/donuts/<%=donuts.id%>">
          <p><button type="submit" class="pure-button" name="view">view</button></a>
        <a href="/donuts/<%=donuts.id%>/edit"><button type="submit" class="pure-button" name="edit">edit</button></a>

        <form method="POST" action="/donuts/<%=donuts.id%>?_method=DELETE">
          <button type="submit" class="pure-button">delete</button>
        </form>
        </p>
        <!-- <a href="/<%=donuts.id%>?_method=DELETE"><button type="submit" class="pure-button" name="delete">delete</button></a></p> -->



        <p>
      </li>
      <% }) %>
  </ul>
</body>

</html>
